*{
 margin: 0;
 padding: 0;
 border: 0;
 font-weight: bold;
}

table {
 border-collapse: collapse;
 width: 400px;
 height: 400px;
 border:solid black;
}
th{
padding:20px;
 border: solid black;
text-align: left;

}
tr {
 border: solid black;
}
td {
 text-align: right;
 padding: 20px;

 border: solid black;
}
.center{

text-align: center;
}
#tabeladois{
 padding: 20px;
 margin:20px ;
}
.doist,.doisc{
 margin :100px
}
.none{
 border:none
}

